html, body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #007bbe;
    width: 100%;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
}
input.form-control {
    text-align: center;
}
body{
    background: url(../img/cloud.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.btn-decrement, .btn-increment {
    background: #b0c3da!important;
    color: #fff;
}
.btn-decrement:hover, .btn-increment:hover {
    background: #ffc107!important;
}
.calc label {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-flex;
}
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    color: #fff;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    position: absolute;
    top: 33%;
    left: 100%;
}
.frac span.symbol {
    left: 70%;
    position: absolute;
    top: 8%;
}
.round-container{
    background: rgba(0,0,0,0.5);
    
    margin-top: 10px;
    margin-bottom: 15px;
}
.action-container{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.help-tip{
    position: relative;
    text-align: center;
    background-color: #003d5e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 21px;
    cursor: default;
    margin: 0 10px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    left: 10px;
    top: 35px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 111;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:0;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}